registry=https://registry.npmjs.org/
sync-injected-deps-after-scripts[]=build
inject-workspace-packages=true

public-hoist-pattern[]=@angular/*
public-hoist-pattern[]=tslib
public-hoist-pattern[]=rxjs
public-hoist-pattern[]=@opentelemetry/*
